* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

  background-image: url(../public/swirl-pattern.png);
}

.topSideBar {
  width: 100%;

  padding: 10px 20px;

  border-bottom: 5px solid black;
}

.btnDecoyHolder {
  width: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnDecoy {
  aspect-ratio: 1 / 1;
  width: 17px;

  border-radius: 20px;
}



.submitBtn {
  width: 20%;
  height: 2.5rem;
  font-weight: 900;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border: 3px solid black;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.2s;

  background-color: rgb(244, 118, 72);
}
.submitBtn:hover {
  background-color: rgb(254, 68, 0);
}



.submitBtnLoad {
  width: 20%;
  height: 2.5rem;
  font-weight: 900;
  color: white;

  padding: 0px 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border: 3px solid black;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.2s;

  background-color: rgb(254, 68, 0);
  cursor: not-allowed;
}



.loader {
  pointer-events: none;
  aspect-ratio: 1 / 1;
  height: 80%;

  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;

  animation: load1 0.8s ease infinite;
}

.loader2 {
  pointer-events: none;
  aspect-ratio: 1 / 1;
  width: 2rem;

  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.082);
  border-top-color: black;

  animation: load1 0.8s ease infinite;
}


@keyframes load1 {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}
